<template>
    <div
        id="drop_zone"
        @drop="dropHandler($event)"
        @dragover="dragOverHandler($event)"
    >
        <p>Drag one or more files to this Drop Zone ...</p>
    </div>
</template>

<script>
export default {

    methods: {

        dragOverHandler(ev) {

            ev.preventDefault();

        },
        
        dropHandler(ev) {

            console.log('File(s) dropped');

            ev.preventDefault();

            if (ev.dataTransfer.items) {

                let length = ev.dataTransfer.items.length,
                    item = ev.dataTransfer.items[0];

                if ( length === 1 && item.kind === 'file' ) {

                    let file = item.getAsFile();

                    if ( file.type === "application/pdf" ) {

                        console.log('... file.name = ' + file.name);
                        this.$emit( "new-document", file );
                        
                    } else {

                        alert("Only PDF please");

                    }
                    
                } else {

                    alert("Only one file please");

                }

            } else {
                
                let length = ev.dataTransfer.files.length,
                    item = ev.dataTransfer.files[0];

                if ( length === 1 ) {

                    if ( item.type === "application/pdf" ) {

                        console.log('... file.name = ' + item.name);
                        this.$emit( "new-document", item );
                        
                    } else {

                        alert("Only PDF please");

                    }
                    
                } else {

                    alert("Only one file please");

                }

            }

        }

    },
    
}
</script>

<style>
    #drop_zone {
        border: 5px solid blue;
        width:  200px;
        height: 100px;
    }
</style>